body {
  background: linear-gradient(
    149deg,
    rgba(188, 88, 56, 1) 0%,
    rgba(189, 103, 55, 1) 9%,
    rgba(190, 119, 54, 1) 18%,
    rgba(193, 128, 44, 1) 50%,
    rgba(197, 137, 34, 1) 81%,
    rgba(194, 148, 41, 1) 90%,
    rgba(191, 160, 48, 1) 100%
  );
  height: 100vh;
}

h1,
h2,
h3,
p {
  color: #e7e7e7;
}

p {
  color: #be7736;
}
