body {
  background-image: linear-gradient(
    to right top,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c,
    #ff9f1c
  );
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
p {
  color: #e7e7e7;
}

p {
  color: #ff9f1c;
}

.blob {
  background-image: url("../public/blob\ 1.svg");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -25px; /* half of the SVG height */
  margin-left: -25px; /* half of the SVG width */
}
