body {
  background-image: linear-gradient(to bottom left, #e7e7e7 50%, #ff9f1c 50%);
  height: 100vh;
  background-attachment: fixed;
  background-position: center 85%;
  background-repeat: no-repeat;
  background-size: 100% 1000%;
}

h1,
h2,
h3,
p {
  color: #e7e7e7;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff9f1c;

  

}

h3 p {
  color: #ff9f1c;
}
